<p-table [value]="faturas" [paginator]="true" [rows]="7">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>CPF Cliente</th>
        <th>Tipo</th>
        <th>Valor Fatura</th>
        <th>Data Pagamento</th>
        <th>ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fatura>
      <tr>
        <td>{{ fatura.id }}</td>
        <td>{{ fatura.cpfCliente }}</td>
        <td>{{ fatura.tipo }}</td>
        <td>{{ fatura.valorFatura | currency: 'RS' }}</td>
        <td>{{ fatura.dataPagamento | date }}</td>
        <td><button pButton icon="pi pi-trash" (click)="abrirDialogDeletar(fatura)"></button></td>
      </tr>
    </ng-template>
    
  </p-table>

  
<!-- Dialog para Confirmação de Deleção -->
<p-dialog
  [(visible)]="exibirDialogDeletar"
  header="Confirmar Exclusão"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <p>Tem certeza de que deseja excluir a fatura</p>
  <div class="p-dialog-footer">
    <button pButton label="Não" (click)="fecharDialogDeletar()" class="botão-pop_up"></button>
    <button pButton label="Sim" (click)="confirmarDelecao()" class="botão-pop_up"></button>
  </div>
</p-dialog>