<button pButton label="Cadastrar Novo Cliente" icon="pi pi-plus" (click)="abrirDialogCadastro()"  class="botão-pop_up"></button>
<p-table
  [value]="clientes"
  [paginator]="true"
  [rows]="10"
  [loading]="loading"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Data de Nascimento</th>
      <th>Pontos do cliente</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.dataNascimento | date : "dd/MM/yyyy" }}</td>
      <td>{{cliente.pontos}}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="abrirDialogEditar(cliente)"></button>
        <button pButton icon="pi pi-trash" (click)="abrirDialogDeletar(cliente)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog para Edição -->
<p-dialog [(visible)]="exibirDialogEditar" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
  <h2>Editar Cliente</h2>
  <form [formGroup]="formEdicao">
    <div class="dialogo-input">
      <label for="nome">Nome</label>
      <input id="nome" formControlName="nome" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="cpf">CPF</label>
      <input id="cpf" formControlName="cpf" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="telefone">Telefone</label>
      <input id="telefone" formControlName="telefone" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="dataNascimento">Data de Nascimento</label>
      <input id="dataNascimento" formControlName="dataNascimento"/>
    </div>
    <div class="dialogo-input">
      <label for="pontos">Pontos</label>
      <input id="pontos" formControlName="pontos"/>
    </div>
    <button (click)="exibirDialogConfirmacaoEdicao = true" [disabled]="!formEdicao.valid" class="botão-pop_up">Salvar</button>
    <button (click)="fecharDialogEditar()" class="botão-pop_up">Cancelar</button>
  </form>
</p-dialog>

<!-- Dialog para Confirmação de Edição -->
<p-dialog
  [(visible)]="exibirDialogConfirmacaoEdicao"
  header="Confirmar Edição"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <p>Tem certeza de que deseja salvar as alterações?</p>
  <div class="p-dialog-footer">
    <button pButton label="Não" (click)="fecharDialogConfirmacaoEdicao()" class="botão-pop_up"></button>
    <button pButton label="Sim" (click)="salvarEdicao()" class="botão-pop_up" ></button>
  </div>
</p-dialog>

<!-- Dialog para Confirmação de Deleção -->
<p-dialog
  [(visible)]="exibirDialogDeletar"
  header="Confirmar Exclusão"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <p>Tem certeza de que deseja excluir o cliente <b>{{ clienteSelecionado?.nome }}</b>?</p>
  <div class="p-dialog-footer">
    <button pButton label="Não" (click)="fecharDialogDeletar()" class="botão-pop_up"></button>
    <button pButton label="Sim" (click)="confirmarDelecao()" class="botão-pop_up"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="exibirDialogCadastro" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
  <h2>Cadastrar Cliente</h2>
  <form [formGroup]="formCadastro">
    <div class="dialogo-input">
      <label for="nome">Nome</label>
      <input id="nome" formControlName="nome" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="cpf">CPF</label>
      <input id="cpf" formControlName="cpf" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="telefone">Telefone</label>
      <input id="telefone" formControlName="telefone" type="text" />
    </div>
    <div class="dialogo-input">
      <label for="dataNascimento">Data de Nascimento</label>
      <input id="dataNascimento" formControlName="dataNascimento" type="date" />
    </div>
    <button (click)="cadastrarCliente()" [disabled]="!formCadastro.valid" class="botão-pop_up">Salvar</button>
    <button (click)="fecharDialogCadastro()" class="botão-pop_up">Cancelar</button>
  </form>
</p-dialog>